*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

p {
	color:  rgb(76, 76, 76);
}

.content_list_link {
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-size: 1rem;
}

/* トップネーム */
.top_name1 {
	width: 100%;
	background-color: rgb(81, 178, 210);
	text-align: center;
	color: white;
	line-height: 75px;
	font-size: 28px;
	display: none;
}

/* トップコンテントリスト */

.top_contents_list {
	background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_contents_list ul {
	list-style: none;
}

.top_contents_list ul li {
	display: inline-block;
	padding: 0px 20px;
}

.top_name2 {
	height: 600px;
    display: flex;
    justify-content: center;
	align-items: center;
	text-align: center;
}

.top_name2_1 {
	font-size: 28px;
}

.content {
	padding: 0px 200px;
}

/* プロフィール */

.about {
	background-color: rgb(248, 248, 248);
}

.content_title {
	font-size: 28px;
	text-align: center;
	padding: 50px 0px;
}

.content_subtitle {
	font-size: 20px;
	padding: 100px 0px 50px 0px;
}

.about_image_wrapper {
	display: table;
	margin: 0 auto;
	padding: 20px 0px;
}

.p1_list {
	list-style-type: none;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.p1_list li {
	padding: 5px 40px;
}

.content img {
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}

.p2_list {
	padding: 50px 20px;
	text-align: center;
}

/* スキルズ */

.skills {
	text-align: center;
	padding-bottom: 50px;
}

#language_subtitle {
	padding: 0px 0px 50px 0px;
}

.skills img {
	width: 150px;
	height: 150px;
	padding: 10px 10px;
	box-sizing: content-box;
	margin:0 auto;
}

.skill_image_wrapper {
	display: inline-block;
	font-size: 1rem;
	width:30%;
}

/* ワークス */
.works {
	background-color: rgb(248, 248, 248);
}
